
{% extends 'base.html' %}
{% block content %}

<div class="desc_box">
<h3>Password reset</h3>
</div>
<div class="desc_box">
<p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
</div>
<div class="form_box">
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <div class="button_box">
      <button class="button b_green"><i class="fa-solid fa-lock fa-sm"></i>&nbsp; Reset my password</button>
    </div>
    <div class="centering_box">
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}
  </div>
</form>
</div>

{% endblock %}
