
{% extends 'base.html' %}
{% block content %}

<div class="desc_box">
<h3>Password change</h3>
</div>
<div class="desc_box">
<p>Please enter your old password, for security’s sake, 
  and then enter your new password twice so we can verify you typed it in correctly.
</p>
</div>
<div class="form_box">
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <div class="button_box">
      <button class="button b_green"><i class="fa-solid fa-unlock fa-sm"></i>&nbsp; Change my password</button>
    </div>
    <div class="centering_box">
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}
  </div>
</form>
</div>

{% endblock %}
