<body>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
{% block nav %}
<div>
<div class="topnav">
{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}
{% block nav-rank-chart %}<a href="{% url 'rank_chart' %}">Rank</a>{% endblock %}
{% block nav-rank-chart-2 %}<a href="{% url 'rank_chart_2' %}">Rank 2</a>{% endblock %}
{% block nav-popul-chart %}<a href="{% url 'popul_chart' %}">Popularity</a>{% endblock %}
</div>
{% endblock %}


{% block content %}
{% endblock %}

</body>