{% extends 'base.html' %}
{% block content %}
    <body>
      <div class ="form_box">
        <form method="GET" action="{% url 'dashboard' %}" >
          <p>
            {{ daterange_form.as_table }} 
            {{ artist1_form.as_p }}
            {{ title1_form.as_p }}
            {{ chart_form.as_p }}
            {{ region_form.as_p}}
          </p>
          <div>
            <button class="button b_green"><i class="fa-solid fa-magnifying-glass fa-xs"></i>&nbsp; Submit</button>
          </div>
        </form>
      </div>
      <div class="chart_box">
        {{ chart|safe }}
      </div>
    </body>
{% endblock %}