{% extends 'base.html' %}
{% block content %}
    <body>
      <div div class ="form_box">
        <form method="GET" name="chart_1" action="{% url 'song_rank_changes_chart' %}" >
          {% csrf_token %}



          <div>
            Region
            <input list="list_of_regions" id="1" placeholder="Choose region"
                aria-label="Search" name="region">
            <datalist id="list_of_regions">
                {% for name in ch_region %}
                <option value="{{name.region}}">
                  {% endfor %}
            </datalist>
          </div>
          
          <div>
            Chart
            <input list="list_of_charts" id="2" placeholder="Choose chart" aria-label="Search"
                 name="chart">
            <datalist id="list_of_charts">
                {% for name in ch_chart %}
                <option value="{{name.chart}}">
                  {% endfor %}
            </datalist>
          </div>

          <div>
            Artist
            <input list="list_of_artists" id="3" placeholder="Choose artist" aria-label="Search"
                 name="artist">
            <datalist id="list_of_artists">
                {% for name in ch_artist %}
                <option value="{{name.artist}}">
                  {% endfor %}
            </datalist>
          </div>



          <div>
          <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="chart_box">
        {{ chart|safe }}
      </div>
    </body>
{% endblock %}