<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

</head>

<body>

<script 
src="https://code.jquery.com/jquery-3.6.3.min.js" 
integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<script>

$( "#tags" ).autocomplete({
      source: availableTags
    });
</script>


<form action="{% url 'spotifydatas:home2' %}">
    <div>
        <input id="art" type="search" name="q" placeholder="Search">
        <span>
            <button type = "submit">search</button>
        </span>
    </div>
</form>
</body>