.chart_box {
    padding: 1px;
    justify-content: center;
    align-items: center;
    border: 1px solid #1DB954;
    width: 1200px;
    height: 600px;
    margin: 0px auto;
}


.home_box {
    padding: 1px;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 0px auto;
}

.statistics_box {
    padding: 1px;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0px auto;
}


.button_box {
    padding: 1px;
}

.form_box {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: none;
}

.form_widgets {
    display:list-item;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    background-color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    min-width: 220px;
    max-width: 220px;
    float:right;
    border: 1px solid #1DB954;
    -moz-box-shadow: 0 1px 1px #333 inset, 0 1px 1 #333;
    -webkit-box-shadow: 0 1px 1px #333 inset, 0 1px 1 #333;
    box-shadow: 0 1px 1px #333 inset, 0 1px 1 #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.desc_box {
    justify-content: center;
    align-items: center;
    display:flex;
    margin-top: 20px;
    font-size: 18px;
}

.centering_box {
    justify-content: center;
    align-items: center;
    display:flex;
    padding: 5px;
}

.centering_box_sp {
    justify-content: center;
    align-items: left;
    display:flex;
    padding: 2px;
}