.button {
    color: #191414;
    height: 40px;
    width: 100%;
    font-weight:bold;
    text-align:left ;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 6px;
    border: 1px solid #1DB954;
    cursor: pointer;
    margin: 10px auto;
    font-family: 'Nunito';
    transition-duration: 0.3s;
    background-color: #1DB954;
}

.button:hover {
    background-color: #191414;;
    color: #1DB954;
}

.button:active {
    background-color: #191414;
    box-shadow: 0 2px #0b4921;
    transform: translateY(2px);
}
