.topnav {
    background-color: #333;
    overflow: hidden;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
.topnav a.active {
    background-color: #1DB954;
    color: rgb(255, 255, 255);
  }