.topnav {
    background-color: #333;
    overflow: hidden;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
  }
  
.topnav a {
    float: left;
    color: #e2e2e2;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #9a9a9a;
    color: black;
  }
  
.topnav a.active {
    background-color: #1DB954;
    color: black;
  }

.topnav-right {
    float: right;
    background-color: #1771F1;
  }


.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #e2e2e2;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }

.dropdown:hover .dropbtn {
    background-color: #9a9a9a;
    color: black;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #e2e2e2;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #9a9a9a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-right {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #1771F1;
}

.dropdown-profile .dropbtn-profile {
  font-size: 16px;
  right: 5px;
  border: none;
  outline: none;
  color: #e2e2e2;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.dropdown-profile:hover .dropbtn-profile {
  background-color: #0f4ea7;
  color: #e2e2e2;
}

.dropdown-profile-content {
display: none;
position: absolute;
background-color: #333;
right: 4px;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-profile-content a {
float: none;
color: #e2e2e2;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-profile-content a:hover {
background-color: #0f4ea7;
color: #e2e2e2;
}

.dropdown-profile:hover .dropdown-profile-content {
display: block;
}

